.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    width: 250px;
  }

  button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #0070f3;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background-color: #005bb5;
    }
  }

  p {
    margin-top: 20px;
    font-size: 18px;
  }
}
